*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}
.App {
  text-align: center;
}
.image-box{
  display: inline-block;
  width: 200px;
  height: 250px;
  text-align: center;
  float: left;
  margin: 10px;
}
.unsplash-images{
  border: 0;
  padding: 10px;
  margin: 10px 10px 0;
}
.image-name{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}